*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: linear-gradient(#3c3ebf, purple);
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 10px;
    padding:0.5em 3em;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1em 4em;
    font-family: cursive, sans-serif;
}
main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    max-width: 300px;
    padding: 2em;
    background-color:#ba67df;
}

label, input{
    width: 100%;
}

input{
    margin: 1em 0;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
}

label{
    margin-top: 2em;
}

h2{
    font-size: 1.2rem;
    font-weight: 500;
}

button{
    margin-top: 2em;
    padding: 1em;
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: 0.21s;
}

button:hover{
    margin-top: 2em;
    padding: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.meme{
    position: relative;
    max-width: 300px;
    text-align: center;
    color: white;
    font-family: Impact, sans-serif;
    text-shadow: -2px 0 black, 0px 2px black, 2px 0 black, 0 -2px black;
}

.top{
    margin-top: 5px;
    position: absolute;
    padding: 0em;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.bottom{
    margin-top: 5px;
    position: absolute;
    padding: 0em;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.links{
    display: flex;
justify-content: space-between;
padding: 2em;
background-color:
    #6d1191;
    margin: 4em 0 0 0;
}
.links a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    main{
        padding: 0;
        align-items: center;
    }
    header{
        padding: 1em 0.25em;
        justify-content: center;
        text-align: center;  
    }
    header h1{
        font-size: 1rem;
    }
    .links{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .links a{
        padding: 1em 0;
    }
}