*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: linear-gradient(#3c3ebf, purple);
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 10px;
    padding: 0.25em 0.5em;
}

header img{
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 2em;
    background-color:#ba67df;
}

label, input{
    width: 100%;
}

input{
    margin: 1em 0;
}

.meme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
height: 500px;
width: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
text-align: center;
padding: 1em;
color: white
;
text-shadow: -2px 0 black, 0px 2px black, 2px 0 black, 0 -2px black;
padding: 2em;
background-color:purple;

}